<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.dao.UserDAO">
    <select id="findByEmail" resultType="com.example.backend.entity.User">
        SELECT * FROM tbl_user WHERE email = #{email}
    </select>
    
    <insert id="save" parameterType="com.example.backend.entity.User">
        INSERT INTO tbl_user (email, password, name, role)
        VALUES (#{email}, #{password}, #{name}, #{role})
    </insert>
    
    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM tbl_user WHERE email = #{email})
    </select>
</mapper> 